@model IEnumerable<club.Models.Membre>

@{
    ViewData["Title"] = "Index";
}

<center><h1>Les Membres</h1></center>

<p>
    <a asp-action="Create" class="btn btn-warning">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prenom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prenom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                    <a asp-action="Edit" class="btn btn-info" asp-route-id="@item.Id">Edit</a> 
                    <a asp-action="Details" class="btn btn-success"  asp-route-id="@item.Id">Details</a>
                    <a asp-action="Delete" class="btn btn-danger"  asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
