@model club.Models.Reservation

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this Reservation?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.timeDeb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.timeDeb)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.timeFin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.timeFin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.reservedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.reservedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.clubName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.clubName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-success">Back to List</a>
    </form>
</div>
